<template>
  <v-container fluid>
    <v-card outlined v-if="characterData.attributeScores.length > 0">
      <v-card-title class="justify-center">Attributes</v-card-title>
      <v-list dense>
        <v-list-item v-for="(n, i) in characterData.attributeScores" :key="i">
          <v-list-item-content class="justify-center">
            {{ n.label }}
          </v-list-item-content>
          <v-list-item-content class="justify-center">
            {{ n.score }}
          </v-list-item-content>
          <v-list-item-content class="justify-center">
            {{ n.displayModifier }}
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          tile
          color="indigo"
          dark
          @click="regenerateAttributeScores(inputValues)"
        >
          <v-icon>{{ refresh }}</v-icon>
          Regenerate
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import { mdiRefresh } from "@mdi/js";
import generateAttributes from "../programs/generateAttributes";

export default {
  computed: mapState(["characterData", "inputValues"]),
  data() {
    return {
      refresh: mdiRefresh
    };
  },
  methods: {
    regenerateAttributeScores(inputValues) {
      const newAttributes = generateAttributes(inputValues);
      this.$store.commit("setAttributes", newAttributes);
    }
  }
};
</script>
