<template>
  <v-container fluid>
    <v-card outlined v-if="characterData.race != false">
      <v-row>
        <v-col>
          <v-container>
            Name: Steve
          </v-container>
        </v-col>
        <v-col>
          <v-container>
            Race: {{ characterData.race.displayName }}
          </v-container>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-container> Size: {{ characterData.race.size }} </v-container>
        </v-col>
      </v-row>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn tile color="indigo" dark @click="regenerateRace()">
          <v-icon>{{ refresh }}</v-icon>
          Regenerate
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import { mdiRefresh } from "@mdi/js";
import generateRace from "../programs/generateRace";

export default {
  computed: mapState(["characterData"]),
  data() {
    return {
      refresh: mdiRefresh
    };
  },
  methods: {
    regenerateRace() {
      const race = generateRace();
      this.$store.commit("setRace", race);
    }
  }
};
</script>
