<template>
  <v-content>
    <v-row>
      <v-col>
        <attribute-scores></attribute-scores>
      </v-col>
      <v-col>
        <character-details></character-details>
      </v-col>
    </v-row>
  </v-content>
</template>

<script>
import AttributeScores from "./AttributeScores";
import CharacterDetails from "./CharacterDetails";

export default {
  components: {
    AttributeScores,
    CharacterDetails
  }
};
</script>
