<template>
  <v-container>
    <v-app-bar app>
      <v-app-bar-nav-icon
        @click="showToolbar = !showToolbar"
      ></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
      <div class="text-center generate">
        <v-btn
          tile
          color="indigo"
          dark
          @click="generateNewCharacter(inputValues)"
          >Generate</v-btn
        >
      </div>
    </v-app-bar>
    <v-navigation-drawer app bottom v-model="showToolbar">
      <v-form>
        <v-container>
          <v-row>
            <v-col :cols="3">
              <v-radio-group
                v-model="inputValues.generationType"
                class="generationTypeWrapper"
                @input="updateStore"
              >
                <v-list>
                  <v-list-item>
                    <v-list-item-content>
                      <v-card outlined>
                        <v-container fluid>
                          <v-radio :label="`Point Buy`" :value="`pointBuy`">
                          </v-radio>
                          <v-text-field
                            v-model="inputValues.pointBuy"
                            type="number"
                            name="Point Buy"
                            @input="updateStore"
                          ></v-text-field>
                        </v-container>
                      </v-card>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-card outlined>
                        <v-container fluid>
                          <v-radio :label="`Dice Pool`" :value="`dicePool`">
                          </v-radio>
                          <v-text-field
                            v-model="inputValues.dicePool"
                            type="number"
                            name="Dice Pool"
                            @input="updateStore"
                          >
                            <template v-slot:append>
                              d6
                            </template>
                          </v-text-field>
                          <v-checkbox
                            v-model="inputValues.dropLowest"
                            :label="`Drop lowest`"
                            @input="updateStore"
                          ></v-checkbox>
                        </v-container>
                      </v-card>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-radio-group>
            </v-col>
            <v-col :cols="3">
              <v-list>
                <v-list-item>
                  <v-list-item-content>
                    <v-card outlined>
                      <v-container>
                        <v-text-field
                          v-model="inputValues.level"
                          type="number"
                          label="Level"
                          @input="updateStore"
                        >
                        </v-text-field>
                      </v-container>
                    </v-card>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-col>
            <v-col :cols="3">
              <v-list>
                <v-list-item>
                  <v-list-item-content>
                    <v-card outlined>
                      <v-container>
                        <v-select
                          :items="races"
                          item-text="displayName"
                          item-value="id"
                          placeholder="Race"
                          v-model="inputValues.rid"
                        >
                        </v-select>
                      </v-container>
                    </v-card>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-navigation-drawer>
  </v-container>
</template>

<script>
import newCharacter from "../programs/newCharacter";
import raceObj from "../data/races";
import { mapState } from "vuex";

export default {
  computed: mapState(["characterData", "inputValues"]),
  data() {
    return {
      showToolbar: false,
      races: raceObj.races.map(row => {
        return {
          displayName: row.displayName,
          id: row.id
        };
      })
    };
  },
  methods: {
    generateNewCharacter(inputValues) {
      const characterData = newCharacter(inputValues);
      this.$store.commit("setCharacterData", characterData);
    },
    updateStore() {
      this.inputValues.pointBuy = parseInt(this.inputValues.pointBuy);
      this.inputValues.level = parseInt(this.inputValues.level);
      this.inputValues.raceID = parseInt(this.inputValues.raceID);
      this.inputValues.dicePool = parseInt(this.inputValues.dicePool);
      this.$store.commit("setInputs", this.inputValues);
    }
  }
};
</script>

<style lang="scss" scoped>
.generationTypeWrapper {
  padding-top: 0;
  margin-top: 0;
}
</style>
