<template>
  <v-app app>
    <toolbar></toolbar>
    <character-layout></character-layout>
  </v-app>
</template>

<script>
import CharacterLayout from "./components/CharacterLayout";
import Toolbar from "./components/Toolbar";

export default {
  components: {
    CharacterLayout,
    Toolbar
  }
};
</script>
